/*
-*
-* Icecream Gridsystem
-* written by Dominik Biedebach
-* http://github.com/tyskkk
-*
*/

/* At first a minified version of HTML5-Reset */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* Setting up the Grid-Container, Clearfix and Row Element for clearing floated columns in the grid */
.grid-container {
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after,
.row:after {
	display: block;
	content: ".";
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix,
html[xmlns] .row {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/* Media Queries for Responsive Design */

/* Tablet Horizontal */
@media screen and (max-width: 1024px) {
	.grid-container {
		width: 90%;
		max-width: none;
	}
}

/* Tablet Vertical */
@media screen and (max-width: 768px) {
	.grid-container {
		width: 94%;
		max-width: none;
	}
}

/* Mobile Horizontal */
@media screen and (max-width: 480px) {
	.grid-container {
		width: 100%;
		max-width: none;
	}
}

/* Mobile Vertical */
@media screen and (max-width: 320px) {
	.grid-container {
		width: 100%;
		max-width: none;
	}
}